/* Основний контейнер для всього додатка */
.App {
  text-align: center; /* Вирівнювання тексту по центру */
}

/* Логотип програми */
.App-logo {
  height: 40vmin; /* Висота логотипу залежить від висоти вікна */
  pointer-events: none; /* Вимикаємо взаємодію користувача з логотипом */
}

/* Анімація логотипу, якщо зменшення рухів не є пріоритетом для користувача */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Безкінечна анімація обертання на 20 секунд */
  }
}

/* Заголовок програми */
.App-header {
  background-color: #282c34; /* Темний фон для заголовка */
  min-height: 100vh; /* Мінімальна висота заголовка на весь екран */
  display: flex; /* Встановлюємо flex-контейнер */
  flex-direction: column; /* Розташовуємо елементи вертикально */
  align-items: center; /* Вирівнюємо елементи по центру по горизонталі */
  justify-content: center; /* Вирівнюємо елементи по центру по вертикалі */
  font-size: calc(10px + 2vmin); /* Динамічний розмір шрифту залежно від розміру екрану */
  color: white; /* Білий колір тексту */
}

/* Посилання у додатку */
.App-link {
  color: #61dafb; /* Блакитний колір для посилань */
}

/* Анімація обертання логотипу */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Початкове положення без обертання */
  }
  to {
    transform: rotate(360deg); /* Обертання на 360 градусів */
  }
}
